::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgba(179, 179, 179);
	outline: 1px solid slategrey;
}
